.hidden{
    opacity:0;
}
.visible{
    opacity:1;
}
.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 0px 5px 5px 0; /* Отступы вокруг картинки */
}
.rightimg {
    float: right; /* Выравнивание по правому краю */
    margin: 5px 0 5px 5px; /* Отступы вокруг картинки */
}

.kw01 {
    color: #73acab;
}
.us{
    color: #bc9562;
    font-style: italic;
}
.kw00 {
    color: #afb0b4;
}
.kw1 {
    color: #0000ff;
}
.kw2 {
    color: #000080;
}
.kw3 {
    color: #008080;
}
 .kw4 {
    color: #228b22;
}
.kw5 {
    color: #b22222;
}
.kw6 {
    background-color: #ffff00;
    color: #8b0000;
}
.kw7 {
    background-color: #fa8072;
    color: #8b0000;
}
.kw8 {
    background-color: #ba55d3;
    color: #000000;
}
.fit{
    font-style: italic;
}
.co1 {
    color: #ff7f50;
    font-style: italic;
}
.lsl2.source-lsl2 .es0 {
    color: #000099;
}
.lsl2.source-lsl2 .br0 {
    color: #000000;
}
.lsl2.source-lsl2 .sy0 {
    color: #000000;
}
.st0 {
    color: #006400;
}
.lsl2.source-lsl2 .nu0 {
    color: #000000;
}
/* текст*/
.x{
    background-color: rgba(255, 255, 0, 0);
    color: rgba(139, 0, 0, 0);
}

.ui-icon-myicon:after {
    background-image: url("../img/play.png");
    /* Make your icon fit */
    background-size: 20px 20px;
}
.ui-icon-myicon2:after {
    background-image: url("../img/stop.png");
    /* Make your icon fit */
    background-size: 20px 20px;
}
.ui-icon-myicon3:after{
  background-image: url("../img/minus.png");
    /* Make your icon fit */
    background-size: 20px 20px;  
}
.ui-icon-myicon4:after{
  background-image: url("../img/plas.png");
    /* Make your icon fit */
    background-size: 20px 20px;  
}
#min{
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    height: 30px;
    width: 20px;
    border-radius: 100px;
    background-image: url("../img/minus.png");
    background-size: contain;
    top: 100%;
    left: 31%;
}
#plm{
    top: 100%;
    left: 31%;
    border-color: #76d142;
    background-color: rgba(255, 255, 255, 0);
    transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
}
#plp{
    top: 100%;
    left: 45%;
    border-color: #76d142;
    background-color: rgba(255, 255, 255, 0);
    transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
}
#pl{
    top: 100%;
    left: 38%;
    border-color: #76d142;
    background-color: rgba(255, 255, 255, 0);
    transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    -moz-transform: scale(3);
    
}
.nt{
    padding: 20px;
}
.bgr{
	
  background: #EEE;
}
.bgt {
  height: 100%;
  background: gold;
  border-radius: 0;
  animation: background 10s infinite alternate;
}
@keyframes background {
  50% {
    background: skyblue;
    box-shadow: 0 -200px 100px -100px yellowgreen inset;
  }
}
.infm{
    height: 50%;
    width: 50px;
    top: 20px;
    text-align: center;
    font-family: Gabriola; /* Гарнитура шрифта */
    src: url(../css/Gabriola.ttf); /* Путь к файлу со шрифтом */ 
    font-size: 90px;
    color: #76d142;
    text-decoration-color: aqua;
    transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    -moz-transform: scale(3);
    filter: alpha(Opacity=50);
    opacity: 0.7; 
    
}